# Data Encoding

1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

### Nominal/OHE Encoding

One hot encoding, also known as nominal encoding, is a technique used to represent categorical data as numerical data, which is more suitable for machine learning algorithms. In this technique, each category is represented as a binary vector where each bit corresponds to a unique category. For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using one hot encoding as follows:

1. Red: [1, 0, 0]
2. Green: [0, 1, 0]
3. Blue: [0, 0, 1]

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
# Create a simple dataframe
df = pd.DataFrame({"color": ["red", "blue", "green", "green", "red", "blue"]})

In [3]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [4]:
# Create an instance of Onehotencoder
encoder = OneHotEncoder()

In [5]:
# Perform fit and transform
encoded = encoder.fit_transform(df[["color"]]).toarray()

In [6]:
import pandas as pd

encoder_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())

In [7]:
encoder_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [8]:
import warnings

warnings.filterwarnings("ignore")

In [9]:
# New data
encoder.transform([["blue"]]).toarray()

array([[1., 0., 0.]])

In [10]:
pd.concat([df, encoder_df], axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

### Label Encoding

Label encoding and ordinal encoding are two techniques used to encode categorical data as numerical data.

Label encoding involves assigning a unique numerical label to each category in the variable. The labels are usually assigned in alphabetical order or based on the frequency of the categories. For example, if we have a categorical variable "color" with three possible values (red, green, blue), we can represent it using label encoding as follows:

1. Red: 1
2. Green: 2
3. Blue: 3

In [11]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [12]:
from sklearn.preprocessing import LabelEncoder

lbl_encoder = LabelEncoder()

In [13]:
lbl_encoder.fit_transform(df[["color"]])

array([2, 0, 1, 1, 2, 0])

In [14]:
lbl_encoder.transform([["red"]])

array([2])

In [15]:
lbl_encoder.transform([["blue"]])

array([0])

In [16]:
lbl_encoder.transform([["green"]])

array([1])

### Ordinal Encoding

It is used to encode categorical data that have an intrinsic order or ranking. In this technique, each category is assigned a numerical value based on its position in the order. For example, if we have a categorical variable "education level" with four possible values (high school, college, graduate, post-graduate), we can represent it using ordinal encoding as follows:

1. High school: 1
2. College: 2
3. Graduate: 3
4. Post-graduate: 4

In [17]:
# Ordinal Encoding
from sklearn.preprocessing import OrdinalEncoder

In [18]:
# Create a sample dataframe with an ordinal variable
df = pd.DataFrame({"size": ["small", "medium", "large", "medium", "small", "large"]})

In [19]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [20]:
# Create an instance of OrdinalEncoder and then fit_transform
encoder = OrdinalEncoder(categories=[["small", "medium", "large"]])

In [21]:
encoder.fit_transform(df[["size"]])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [22]:
encoder.transform([["small"]])

array([[0.]])