# SQLite

❑ SQLite is a self-contained, serverless, and zero-configuration database engine.  
❑ It is widely used for embedded database systems in mobile apps, IoT devices, and browsers.  
❑ SQLite stores the entire database as a single file on disk, making it lightweight and portable.  
❑ Unlike other database systems, SQLite does not require a separate server process.  
❑ It follows the ACID (Atomicity, Consistency, Isolation, Durability) properties for reliable transactions.  
❑ SQLite uses dynamic typing, meaning a column can store any data type.  
❑ It supports most of the SQL standard, including SELECT, INSERT, UPDATE, DELETE, and JOIN operations.  
❑ It supports multiple concurrent read operations but allows only one write operation at a time.  
❑ The database file format is cross-platform, allowing data to be shared across different operating systems.  
❑ SQLite does not support user management and access control, making it best suited for local storage needs.  
❑ It is commonly used in Android, iOS, web browsers (such as Google Chrome), and embedded systems.

In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("example.db")
connection

In [3]:
cursor = connection.cursor()

In [4]:
cursor.execute(
    """
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
    )
"""
)

connection.commit()

In [5]:
cursor.execute(
    """
Select * from employees
"""
)

In [6]:
cursor.execute(
    """
Insert Into employees(name, age, department)
    values ('Yash', 22, 'Data Scientist')
"""
)

cursor.execute(
    """
INSERT INTO employees (name, age, department)
    VALUES ('Bob', 25, 'Engineering')
"""
)

cursor.execute(
    """
INSERT INTO employees (name, age, department)
    VALUES ('Charlie', 35, 'Finance')
"""
)

connection.commit()

In [7]:
cursor.execute("Select * from employees")

In [8]:
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Yash', 21, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Yash', 21, 'Data Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Yash', 21, 'Data Scientist')
(9, 'Charlie', 35, 'Finance')
(10, 'Yash', 22, 'Data Scientist')
(11, 'Bob', 25, 'Engineering')
(12, 'Charlie', 35, 'Finance')

In [9]:
cursor.execute(
    """
UPDATE employees
Set age = 21
where name = "Yash"
"""
)

connection.commit()

In [10]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()


for row in rows:
    print(row)

(1, 'Yash', 21, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Yash', 21, 'Data Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Yash', 21, 'Data Scientist')
(9, 'Charlie', 35, 'Finance')
(10, 'Yash', 21, 'Data Scientist')
(11, 'Bob', 25, 'Engineering')
(12, 'Charlie', 35, 'Finance')

In [11]:
cursor.execute(
    """
Delete from employees
    where name ='Bob'
"""
)

connection.commit()

In [12]:
cursor.execute("Select * from employees")
rows = cursor.fetchall()


for row in rows:
    print(row)

(1, 'Yash', 21, 'Data Scientist')
(3, 'Charlie', 35, 'Finance')
(4, 'Yash', 21, 'Data Scientist')
(6, 'Charlie', 35, 'Finance')
(7, 'Yash', 21, 'Data Scientist')
(9, 'Charlie', 35, 'Finance')
(10, 'Yash', 21, 'Data Scientist')
(12, 'Charlie', 35, 'Finance')

In [13]:
connection = sqlite3.connect("sales_data.db")
cursor = connection.cursor()

cursor.execute(
    """
CREATE TABLE IF NOT EXISTS sales (
    id INTEGER PRIMARY KEY,
    date TEXT NOT NULL,
    product TEXT NOT NULL,
    sales INTEGER,
    region TEXT
)
"""
)

sales_data = [
    ("2023-01-01", "Product1", 100, "North"),
    ("2023-01-02", "Product2", 200, "South"),
    ("2023-01-03", "Product1", 150, "East"),
    ("2023-01-04", "Product3", 250, "West"),
    ("2023-01-05", "Product2", 300, "North"),
]

cursor.executemany(
    """
Insert into sales(date,product,sales,region)
    values(?,?,?,?)
""",
    sales_data,
)

connection.commit()

In [14]:
cursor.execute("SELECT * FROM sales")
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2023-01-01', 'Product1', 100, 'North')
(2, '2023-01-02', 'Product2', 200, 'South')
(3, '2023-01-03', 'Product1', 150, 'East')
(4, '2023-01-04', 'Product3', 250, 'West')
(5, '2023-01-05', 'Product2', 300, 'North')
(6, '2023-01-01', 'Product1', 100, 'North')
(7, '2023-01-02', 'Product2', 200, 'South')
(8, '2023-01-03', 'Product1', 150, 'East')
(9, '2023-01-04', 'Product3', 250, 'West')
(10, '2023-01-05', 'Product2', 300, 'North')
(11, '2023-01-01', 'Product1', 100, 'North')
(12, '2023-01-02', 'Product2', 200, 'South')
(13, '2023-01-03', 'Product1', 150, 'East')
(14, '2023-01-04', 'Product3', 250, 'West')
(15, '2023-01-05', 'Product2', 300, 'North')
(16, '2023-01-01', 'Product1', 100, 'North')
(17, '2023-01-02', 'Product2', 200, 'South')
(18, '2023-01-03', 'Product1', 150, 'East')
(19, '2023-01-04', 'Product3', 250, 'West')
(20, '2023-01-05', 'Product2', 300, 'North')

In [15]:
connection.close()